@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "source sans pro", sans-serif;
    font-weight: 200;
}

#hero-img {
    background-image: url(../images/Betsie_L.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 1600px) {
    #hero-img {
        background-image: url(../images/Betsie_M.jpeg);
    }
}

@media (max-width: 800px) {
    #hero-img {
        background-image: url(../images/Betsie_S.jpeg);
        background-position: 27% 100%;
    }
}


.navbar-brand {
    font-size: 40px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.navbar {
   
   background-color: #fff !important;
   
}

.nav-item {
    font-size: 25px;
    color: #000;
    margin: 10px;
    border-color: #fff;
}

.nav-item:hover {
    background-color:rgb(212,175,55);
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #fff;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.nav-home {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.nav-music {
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

.nav-video {
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

.nav-contact {
    text-align: center;
}

.nav-signup {
    text-align: center;
}

.navbar-dark .navbar-toggler {
    border-width: 0px;
    border-color: #fff;
    padding: 0;
}

.custom-toggler .navbar-toggler-icon {
    background-color: rgb(212,175,55);
    position: fixed;
    top: 0;
    margin-top: 30px;
    margin-right: 15px;
    right: 0;
    border-radius: 20%;
    font-size: 40px;
    z-index: 10;
}

.navbar-brand {
    padding: 0;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}


.container {
    font-size: 30px;
    padding: 20px 20px;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 15px;
}

.tour-dates {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
}

.button {
  padding: 5px 5px;
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin-top: 80px;
    padding-top: 30px;

    text-align: center;

}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #000;
    background: #fff;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;

}

.social-links li a i:hover {
    background: rgb(212,175,55);   
}


form {
    padding: 40px 40px;
    margin: 40px 40px;
    background-color: rgb(212,175,55);
    font-size: 18px;
}

#subscribe {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
}

.container {
    border: 0;
    width: 100vw;

}

.col-sm {
    padding: 0;
    
}

.col-sm img {
    border: 10px solid rgb(212,175,55);
    margin-bottom: 10px;
    
}

@media (max-width: 1200px) {
    .col-sm img {
        height: 300px;
        width: 300px;
        
    }

}

@media (max-width: 992px) {
    .col-sm img {
        height: 200px;
        width: 200px;
        
    }

}

@media (max-width: 768px) {
    .col-sm img {
        height: 150px;
        width: 150px;
        
    }

}

@media (max-width: 576px) {
    .col-sm img {
        height: 300px;
        width: 300px;
        
    }

}

h4 {
    font-family: "source sans pro", sans-serif;
    font-weight: 200;
    font-size: 18px;
}