@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
}

* {

    margin: 0;
    padding: 0;
}

body {
    font-family: "source sans pro", sans-serif;
    font-weight: 200;
}

#hero-img {
    background-image: url(../images/BG_Hero_L.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 1600px) {
    #hero-img {
        background-image: url(../images/BG_Hero_M.jpg);
    }
}

@media (max-width: 800px) {
    #hero-img {
        background-image: url(../images/BG_Hero_S.jpg);
        background-position: 48% 50px;
        
        
    }
}


.navbar-brand {
    font-size: 40px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.navbar {
   
   background-color: #000 !important;
   
}

.nav-item {
    font-size: 25px;
    margin: 0.5em;
}

.nav-item:hover {
    background-color: rgb(212,175,55);
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.nav-link {
    color: rgb(212,175,55);
}

.nav-link:hover {
    color: #fff;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.nav-home {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.nav-music {
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

.nav-video {
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

.nav-contact {
    text-align: center;
}

.nav-signup {
    text-align: center;
}

.navbar-dark .navbar-toggler {
    border-width: 0px;
    border-color: #fff;
    padding: 0;
}

.custom-toggler .navbar-toggler-icon {
    background-color: rgb(212,175,55);
    position: absolute;
    top: 0;
    margin-top: 30px;
    margin-right: 15px;
    right: 0;
    border-radius: 20%;
    font-size: 40px;
    z-index: 10;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}


.container {
    font-size: 30px;
    padding: 20px 20px;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 15px;
}

.tour-dates-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tour-dates-outer {
    width: 100%;
    height: 50%;
    padding-bottom: 35px;
    line-height: 4em;
}

button {
  padding: 5px 5px;
  color: rgb(212,175,55)!important;
  border-color: rgb(212,175,55)!important;
}

.active {
    text-decoration: underline;
    
}

footer {
    background-color: #000;
    color: #fafafa;
    min-height: 120px;
    padding-top: 30px;

    text-align: center;

}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #000;
    background: #fff;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;

}

.social-links li a i:hover {
    background: rgb(212,175,55);   
}


form {
    width: 65%;  
    padding: 40px 20px;
    margin: auto;
    background-color: rgb(212,175,55);
    font-size: 18px;
    text-align: center;

}



@media (max-width:1200px) {
    form {
        width: 80%;
    }
}
    

#subscribe {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.subscribe-outer {
    width: 100%;
    height: 50%;
    padding-bottom: 60px;
    background-color: #fafafa;
}





.container {
    border: 0;
    width: 100vw;
    margin: auto;
    padding: 0;

}

.col-sm {
    padding: 0;
    
}

.col-sm img {
    border: 10px solid rgb(212,175,55);
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.col {
    padding: 0;
}

iframe {
    border: 10px solid rgb(212,175,55);
}

@media (max-width: 768px) {
    iframe {
        width: 350px;
    }
}

@media (max-width: 1200px) {
    .col-sm img {
        height: 250px;
        width: 250px;
        
    }

}

@media (max-width: 576px) {
    .col-sm img {
        height: 300px;
        width: 300px;       
    }

}

h2 {
    margin-top: 15px;
    font-size: 40px;
}

h4 {
    font-family: "source sans pro", sans-serif;
    font-weight: 200;
    font-size: 18px;
}

h3 {
    font-family: "source sans pro", sans-serif;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    padding-bottom: 30px;
}

.top-container {
    margin-top: 40px;
}

.bottom-container {
    margin-bottom: 40px;
}


.img-box {
    position: relative;
} 

.image-title {
    margin-bottom: 5px;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: "source sans pro", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img-overlay:hover {
    opacity: 1;
}

.img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img-overlay:hover > * {
    transform: translateY(0);
}

.img-description {
    margin-bottom: 5px;
}

p {
    font-size: 0.75em;
    margin: 0;
}

p a {
    color: #fff;
}

p a:hover {
    color: rgb(212,175,55);
    text-decoration: none;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 35px;
    right: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: rgb(212,175,55);
    font-size: 25px;
}

.contact {

    text-align: center;
    line-height: 40px;
    height: 79vh;
    
}

.contact h2 {
    margin: 30px 0px; 
}

@media (max-width: 800px) {
    .contact {
        height: 70vh;
    }
}

@media (max-width: 420px) {
    .contact {
        height: 60vh;
    }
}


.contact p {
    font-size: 28px;
    
}

.contact-txt {
    background-color: #fafafa;
    width: 100%;
    margin: auto;
    padding: 30px 0;
}